MYSQL_HOST=change_me
MYSQL_USER=change_me
MYSQL_PASSWORD=change_me
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=change_me
AWS_SECRET_ACCESS_KEY=change_me
FIREBASE_ID=change_me
API_KEY=change_me
GOOGLE_APPLICATION_CREDENTIALS=change_me